{% trans_default_domain 'FOSUserBundle' %}

<head>
    {# ... #}

    <link rel="stylesheet"
          href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
</head>

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p>{{ 'Lastname'|trans }}: {{ user.lastname }}</p>
    <p>{{ 'Firstname'|trans }}: {{ user.firstname }}</p>
</div>
